<div class="container">
    <div class="form-group row" style="margin-top:15px">
      <div class="col-md-11">
        <input #searchBox id="search-box" (keyup)="search(searchBox.value)" type="text" class="form-control" placeholder="Search">
      </div>
      <div class="dropdown col-md-1">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
          Sort By
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li [ngClass]="{'active' : key.id === sortBy}" *ngFor="let key of sortKeys"><a href="#" (click)="setSort(key.id)">{{key.value}}</a></li>
        </ul>
      </div>
    </div>
</div>

 <div class="container-fluid" style="text-align:center; line-height:0; font-size:0">
      <span *ngFor="let photo of photos?.photo | paginate: { itemsPerPage: 12, currentPage: pageNumber, totalItems: photos?.total  }" >
         <div class="img-container" (click)="modal.show(photo)">
            <div class="img-title">{{photo.title}}</div>
              <img align="left" src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}.jpg" style="width:450px; height:252px; object-fit:cover">
        </div>
      </span>
    </div>

<pagination-controls directionLinks="false" align="center" maxSize="20" (pageChange)="getPage($event)" class='my-pagination'></pagination-controls>
  
  <app-modal></app-modal>