 <div (click)="hide()" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
       [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" (click)="$event.stopPropagation();">
        <div class="modal-header">
            <h4 class="modal-title">
                {{title}}
            </h4>
        </div>
        <div class="modal-body">
          <img class="modal-image" src="{{imageUrl}}">
          <div style="white-space:pre-wrap;" [innerHtml]="description"></div>
        </div>
        <div class="modal-footer" >
            <button type="button" class="btn btn-default" (click)="hide()">Close</button>
            <a href="https://www.flickr.com/photos/{{userid}}/{{photoid}}" target="_blank" type="button" class="btn btn-primary">View on Flickr</a>
        </div>
      </div>
    </div>
  </div>