h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.img-container {
    display:inline-block; 
    margin: 3px;
}

.img-container:hover .img-title {
    opacity: 1;
}

.img-title {
    background-color: rgba(0, 0, 0, 0.3);
    position:absolute;
    font-size:20px;
    color:white;
    line-height:1.5;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    padding-left: 5px;
    width: 450px;
    text-overflow: ellipsis;
}

.my-pagination
{
    display:block;
    text-align:center;
}

.ng2-pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.ng2-pagination > li {
  display: inline;
}
.ng2-pagination > li > a,
.ng2-pagination > li > span {
  position: relative;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.ng2-pagination > li:first-child > a,
.ng2-pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.ng2-pagination > li:last-child > a,
.ng2-pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.ng2-pagination > li > a:hover,
.ng2-pagination > li > span:hover,
.ng2-pagination > li > a:focus,
.ng2-pagination > li > span:focus {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.ng2-pagination .current{
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
  
  position: relative;
  padding: 6px 12px !important;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.ng2-pagination > .disabled > span,
.ng2-pagination > .disabled > span:hover,
.ng2-pagination > .disabled > span:focus,
.ng2-pagination > .disabled > a,
.ng2-pagination > .disabled > a:hover,
.ng2-pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.ng2-pagination-lg > li > a,
.ng2-pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.ng2-pagination-lg > li:first-child > a,
.ng2-pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.ng2-pagination-lg > li:last-child > a,
.ng2-pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.ng2-pagination-sm > li > a,
.ng2-pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.ng2-pagination-sm > li:first-child > a,
.ng2-pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.ng2-pagination-sm > li:last-child > a,
.ng2-pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}